include ../brand/brand
include ../nav-list/nav-list

mixin nav(data)
    +b('nav').nav
        +brand(brand)
        +e.mobile
            +nav-list(navList)

            a.call-to(href='tel:+73422250075') +7 342 225-00-75
            button.btn.btn-transparent(data-open='false' data-html='form') Консультация

        button.hamburger
