.nav{
    position: relative;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__mobile{
        display: flex;
    }
}



.nav{
    .call-to + .btn{
        margin-left: 30px;
    }
}

.hamburger{
    display: none;
    background: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    &:before{
        position: absolute;
        content: url("%=static=%content/bars-solid.svg");
        width: 20px;
        height: 20px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 1199px) {
    .hamburger{
        display: block;
        z-index: 99;
    }
    .nav{
        padding: 15px;
        background: $white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
    }
    .nav{
        .nav-list,
        .call-to,
        .btn{
            display: none;
        }
        &__mobile{
            right: -250px;
        }
    }
    .nav{
        &__mobile.expand{
            position: fixed;
            padding: 10px 15px;
            top: 63px;
            right: 0;
            bottom: 0;
            width: 250px;
            height: 100vh;
            background: $white;
            display: flex;
            flex-direction: column;
            transition: all .3s ease-in-out;
            z-index: 8;

            .nav-list,
            .call-to,
            .btn{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .btn{
                width: 100%;
                margin-bottom: 200px;
            }

            .nav-list{
                margin-left: 0;
                align-items: flex-start;
                .nav-list__link{
                    line-height: 20px;
                }
                .nav-list__item + .nav-list__item{
                    margin-left: 0;
                    margin-top: 15px;
                }
                & + *{
                    margin-left: 0;
                    margin-top: 20px;
                }
            }

            .call-to + .btn{
                margin-left: 0;
                margin-top: 15px;
            }
            ~ .hamburger{
                &:before{
                    content: url("%=static=%content/times-solid.svg");
                    top: calc(50% - 2px);
                }
            }
        }
    }
}
