.carusel{
    margin-top: 23px;
}

.main-slider{
    &__item:nth-child(1),
    &__item:nth-child(2),
    &__item:nth-child(3),
    &__item:nth-child(4),
    &__item:nth-child(5){
        width: 100%;
        height: 667px;
        background: url('%=static=%assets/carusel/slide.png') no-repeat;
        background-position: (right, bottom);

    }
}

.main-slider{
    position: relative;
    &__container{
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__cnt{
        margin-top: 99px;
        display: flex;
        flex-direction: column;
        width: 391px;
    }
    &__title{
        color: #42515b;
        font-size: 50px;
        line-height: 65px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    &__subtitle{
        color: #42515b;
        font-family: $Ubuntu;
        font-weight: 300;
        line-height: 65px;
    }
}

.swiper-container{
    position: relative;
}
.swiper-pagination-bullets{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 62px;
    z-index: 2;
}

.swiper-pagination-bullet{
    display: flex;
    width: 6px;
    height: 6px;
    background: #83a1b2;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-pagination-bullet + .swiper-pagination-bullet{
    margin-left: 14px;
}

.swiper-pagination-bullet-active{
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid #117af7;
}

@media screen and (max-width: 1199px) {
    .main-slider__item{
        position: relative;
        background-size: cover;
        &:before{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(darken(saturate(adjust-hue(#ffffff, 210), 8.33), 4.71), .5);
        }
    }
}

@media screen and (max-width: 991px) {
    .main-slider{
        &__item:nth-child(1),
        &__item:nth-child(2),
        &__item:nth-child(3),
        &__item:nth-child(4),
        &__item:nth-child(5){
            height: auto;
            padding: 50px 0;
        }
    }


    .main-slider__title{
        font-size: 40px;
        line-height: 45px;
    }
    .main-slider__cnt{
        margin-top: 0;
    }
    .swiper-pagination-bullets{
        justify-content: center;
        bottom: 20px;
        background-size: cover;
    }
}

@media screen and (max-width: 575px) {
    .main-slider{
        &__cnt{
            width: 100%;
        }
        &__title{
            font-size: 26px;
            line-height: 1.2;
        }
        &__subtitle{
            margin: 15px 0;
            line-height: 1.2;
        }
        .btn-blue{
            max-width: 270px;
            width: 100%;
            margin: auto;
        }
    }
}
