mixin carusel(data)
    .carusel
        // Swiper
        .swiper-container.main-slider
            .swiper-wrapper
                .swiper-slide.main-slider__item(data-swiper-parallax="-90%")
                    .main-slider__container
                        .main-slider__cnt
                            h1.main-slider__title(data-swiper-parallax="-3000") Разработка и&nbsp;продвижение сайтов
                            span.main-slider__subtitle(data-swiper-parallax="-1500") Эффективные решения для бизнеса в интернете
                            button.btn.btn-blue.arrow(data-swiper-parallax="-1000") Посмотреть проекты
                                span
                                    svg.svg-inline--fa.fa-long-arrow-alt-right.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='long-arrow-alt-right', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                        path(fill='currentColor', d='M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z')

                                    //i.fas.fa-long-arrow-alt-right
                .swiper-slide.main-slider__item(data-swiper-parallax="-90%")
                    .main-slider__container
                        .main-slider__cnt
                            h1.main-slider__title(data-swiper-parallax="-3000") Разработка и&nbsp;продвижение сайтов
                            span.main-slider__subtitle(data-swiper-parallax="-1500") Эффективные решения для бизнеса в интернете
                            button.btn.btn-blue.arrow(data-swiper-parallax="-1000") Посмотреть проекты
                                span
                                    i.fas.fa-long-arrow-alt-right
                .swiper-slide.main-slider__item(data-swiper-parallax="-90%")
                    .main-slider__container
                        .main-slider__cnt
                            h1.main-slider__title(data-swiper-parallax="-3000") Разработка и&nbsp;продвижение сайтов
                            span.main-slider__subtitle(data-swiper-parallax="-1500") Эффективные решения для бизнеса в интернете
                            button.btn.btn-blue.arrow(data-swiper-parallax="-1000") Посмотреть проекты
                                span
                                    i.fas.fa-long-arrow-alt-right
                .swiper-slide.main-slider__item(data-swiper-parallax="-90%")
                    .main-slider__container
                        .main-slider__cnt
                            h1.main-slider__title(data-swiper-parallax="-3000") Разработка и&nbsp;продвижение сайтов
                            span.main-slider__subtitle(data-swiper-parallax="-1500") Эффективные решения для бизнеса в интернете
                            button.btn.btn-blue.arrow(data-swiper-parallax="-1000") Посмотреть проекты
                                span
                                    i.fas.fa-long-arrow-alt-right
                .swiper-slide.main-slider__item(data-swiper-parallax="-90%")
                    .main-slider__container
                        .main-slider__cnt
                            h1.main-slider__title(data-swiper-parallax="-3000") Разработка и&nbsp;продвижение сайтов
                            span.main-slider__subtitle(data-swiper-parallax="-1500") Эффективные решения для бизнеса в интернете
                            button.btn.btn-blue.arrow(data-swiper-parallax="-1000") Посмотреть проекты
                                span
                                    i.fas.fa-long-arrow-alt-right
            // Add Pagination
            .main-slider__container
                .swiper-pagination
