mixin carusel(data)
    .carusel
        // Swiper
        .swiper-container.main-slider
            .swiper-wrapper
                .swiper-slide.main-slider__item(data-swiper-parallax="-90%")
                    .main-slider__container
                        .main-slider__cnt
                            h1.main-slider__title(data-swiper-parallax="-3000") Разработка и&nbsp;продвижение сайтов
                            span.main-slider__subtitle(data-swiper-parallax="-1500") Эффективные решения для бизнеса в интернете
                            button.btn.btn-blue.arrow(data-swiper-parallax="-1000") Посмотреть проекты
                                span
                                    i.fas.fa-long-arrow-alt-right
                .swiper-slide.main-slider__item(data-swiper-parallax="-90%")
                    .main-slider__container
                        .main-slider__cnt
                            h1.main-slider__title(data-swiper-parallax="-3000") Разработка и&nbsp;продвижение сайтов
                            span.main-slider__subtitle(data-swiper-parallax="-1500") Эффективные решения для бизнеса в интернете
                            button.btn.btn-blue.arrow(data-swiper-parallax="-1000") Посмотреть проекты
                                span
                                    i.fas.fa-long-arrow-alt-right
                .swiper-slide.main-slider__item(data-swiper-parallax="-90%")
                    .main-slider__container
                        .main-slider__cnt
                            h1.main-slider__title(data-swiper-parallax="-3000") Разработка и&nbsp;продвижение сайтов
                            span.main-slider__subtitle(data-swiper-parallax="-1500") Эффективные решения для бизнеса в интернете
                            button.btn.btn-blue.arrow(data-swiper-parallax="-1000") Посмотреть проекты
                                span
                                    i.fas.fa-long-arrow-alt-right
                .swiper-slide.main-slider__item(data-swiper-parallax="-90%")
                    .main-slider__container
                        .main-slider__cnt
                            h1.main-slider__title(data-swiper-parallax="-3000") Разработка и&nbsp;продвижение сайтов
                            span.main-slider__subtitle(data-swiper-parallax="-1500") Эффективные решения для бизнеса в интернете
                            button.btn.btn-blue.arrow(data-swiper-parallax="-1000") Посмотреть проекты
                                span
                                    i.fas.fa-long-arrow-alt-right
                .swiper-slide.main-slider__item(data-swiper-parallax="-90%")
                    .main-slider__container
                        .main-slider__cnt
                            h1.main-slider__title(data-swiper-parallax="-3000") Разработка и&nbsp;продвижение сайтов
                            span.main-slider__subtitle(data-swiper-parallax="-1500") Эффективные решения для бизнеса в интернете
                            button.btn.btn-blue.arrow(data-swiper-parallax="-1000") Посмотреть проекты
                                span
                                    i.fas.fa-long-arrow-alt-right
            // Add Pagination
            .main-slider__container
                .swiper-pagination
